<mat-card>
  <mat-card-title> Let's Get Compressin' </mat-card-title>
  <mat-card-subtitle> Upload and then compress a file </mat-card-subtitle>
  <mat-card-actions>
    <button type="button" mat-raised-button (click)="fileInput.click()">
      Choose File
    </button>
    <input hidden type="file" (change)="onChange($event)" #fileInput />
    <button *ngIf="isReadyToUpload()" (click)="uploadFile()" mat-raised-button color="primary">
      Upload
    </button>
    <button *ngIf="isReadyToCompress()" (click)="compressFile(uploaded)" mat-raised-button color="warn">
      Compress
    </button>
  </mat-card-actions>
  <mat-card-content style="margin: 0 auto">
    <mat-list *ngIf="isReadyToDownload()" style="list-style-type: none;">
      <mat-list-item>Original File Name: {{ compressed.originalFileName }}</mat-list-item>
      <mat-list-item>Original File Size: {{ compressed.originalFileSize }}</mat-list-item>
      <mat-list-item>Compressed File Name: {{ compressed.compressedFileName }}</mat-list-item>
      <mat-list-item>Compressed File Size: {{ compressed.compressedFileSize }}</mat-list-item>
      <mat-list-item>Size Difference: {{ compressed.sizeDifference }}</mat-list-item>
      <mat-list-item>
        <button (click)="downloadFile(compressed.compressedFileName)" mat-raised-button color="accent">
          Download
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>